body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.All{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas: 
  "h"
  "m"
  "f";
}
.footer{
  grid-area: f;
}
.header{
  grid-area: h;
}
.main{
  grid-area: m;
}

